/* 
  Global Styles
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
@import url('./reset.css');

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  color: #06113c;
}

h1 {
  font-size: 2.4rem;
  font-weight: 600;
}

p {
  font-size: 1.6rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
}

label {
  display: block;
  font-size: 1.8rem;
}

input,
select:focus {
  outline: none;
}
/* 
  Utilities
*/
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1.2rem;
}

/* 
  Flex Utilities
*/

/* 
  Align text utilities
*/
.text-right {
  text-align: right;
}
